$unit: 20px;
$unit-three-fourth: 0.75 * $unit;
$unit-half: 0.5 * $unit;
$unit-plus: $unit * 1.5;
$unit-quarter: 0.25 * $unit;
$unit-eighth: 0.125 * $unit;
$unit-double: 2 * $unit;
$unit-triple: 3 * $unit;